#restaurante {
  font-size: 16px;
  margin-bottom: 18px;
}

p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #424242;
}

h2 {
  padding-top: 15px;
  margin: 0;
  color: #424242;
}

h3 {
  padding: 0;
  margin-top: 0;
}

#icon {
  display: inline;
  margin-right: 5px;
}

#row {
  padding-right: 30px;
}

a {
  text-decoration: none;
  margin: auto;
}
