/* .HeaderContainer {
    width:  100%;
    height: 100%;
    display: inline-flex;
    position: relative;
  }

.LogoContainer {
    display: inline-flex;
    position: relative;
    width:  100%;
    height: 100%;
}
.Logo{
    display: inline-flex;
    position: relative;
    top: 20%;
    width:  100%;
    height: 100%;
    background-color: black;
}

.IconsContainer {
    padding-top: 10%;
    width:  50%;
    height: 50%;
    display: inline-block;
    position: relative;
}

.LoginContainer {
    justify-items: center;
    justify-content: center;
    width:  50%;
    height: 50%;
    display: block;
    position: relative;
}

.SignUpContainer {
    padding-top: 10%;
    justify-items: center;
    justify-content: center;
    width:  50%;
    height: 50%;
    display: block;
    position: relative;
}

.LoginButton{
    justify-content: center;
    width:  50%;
    height: 50%;
    position: relative;
}

.SignUpButton{
    justify-content: center;
    width:  50%;
    height: 50%;
    position: relative;
}
 */
