/* .searchBarContainer {
    font-family:'Arial Narrow';
    background-color: white;
    width:  90%;
    height: 5%;
    display: inline-flex;
    justify-content: stretch; 
    position: static;
    border-radius: 3px;
    margin: 0 5px 0 6px;
    border-radius: 4px;
    z-index: 10;
  }
   
  .txtSearch{
    background-color: lightskyblue;
    border-collapse: collapse;
    display: flex;
    position: relative;
    width:  90%;
    height: 90%;
    margin: 1%;
    padding: 1%;
    border-radius: 4px;
  } */
